@import './normalize.css';
@import './datepicker.scss';
@import './prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.sidenav-enter-active,
.sidenav-leave-active {
  transition: all 0.3s ease-in-out;
}

.sidenav-enter-from,
.sidenav-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}